<%
  return_to ||= local_assigns.fetch(:return_to, request.fullpath)
  skills_scope_meta ||= nil
  skills ||= nil
%>

<div class="card mb-4">
  <%= render partial: "skills/index_toolbar", locals: {
      return_to: return_to,
      skills_scope_meta: skills_scope_meta,
      search_criteria: :name_cont,
      search_url: skills_path,
      show_actions: false
  } %>

  <%= render partial: "skills/skills_table", locals: {
      return_to: return_to,
      skills_scope_meta: skills_scope_meta,
      skills: skills
  } %>

  <%= render partial: "skills/index_bottombar" %>
</div>