<!-- interests -->
<div class="intra-w3l" id="interests">
  <div class="container">
    <h3 class="w3l-title">&nbsp;Interests&nbsp;</h3>
    <div class="agile-w3l-in">
      <i class="fa fa-images" aria-hidden="true"></i>
      <p>Graphic Editing</p>
    </div>
    <div class="agile-w3l-in">
      <i class="fab fa-app-store-ios" aria-hidden="true"></i>
      <p>IOS Development</p>
    </div>
    <div class="agile-w3l-in">
      <i class="fa fa-book" aria-hidden="true"></i>
      <p>Reading</p>
    </div>
    <div class="agile-w3l-in w3l-intra-re">
      <i class="fa fa-gamepad" aria-hidden="true"></i>
      <p>GAMING</p>
    </div>
    <div class="agile-w3l-in w3l-intra-re">
      <i class="fa fa-music" aria-hidden="true"></i>
      <p>MUSIC</p>
    </div>

  </div>
</div>
<!-- //interests -->