<!-- services -->
<div class="services" id="services">
  <div class="container">
    <h3 class="w3l-title">My Services</h3>
    <div class="box2">
      <div class="col-sm-4 s-1">
        <a href="#contact" class="scroll">
          <div class="view view-fifth">
            <i class="fas fa-laptop-code" aria-hidden="true"></i>
            <div class="mask">
              <i class="fas fa-laptop-code" aria-hidden="true"></i>
              <h4>Web Development</h4>
              <p>
                Intuitive, easy to use & feature rich Ruby on Rails web applications. Smart & effective solutions for
                your business.
              </p>
            </div>
            <h3>Web Development</h3>
          </div>
        </a>
      </div>

      <div class="col-sm-4 s-1">
        <a href="#contact" class="scroll">
          <div class="view view-fifth">
            <i class="fas fa-laptop-medical" aria-hidden="true"></i>
            <div class="mask">
              <i class="fas fa-laptop-medical" aria-hidden="true"></i>
              <h4>Rspec Testing</h4>
              <p>Tests/Specs is a safety net, preventing bugs in production, forcing better code & encouraging
                developer confidence when changing existing code bases.
              </p>
            </div>
            <h3>Rspec Testing</h3>
          </div>
        </a>
      </div>

      <div class="col-sm-4 s-1">
        <a href="#contact" class="scroll">
          <div class="view view-fifth">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <div class="mask">
              <i class="fa fa-cog" aria-hidden="true"></i>
              <!-- <i class="fas fa-laptop-house" aria-hidden="true"></i>-->
              <h4>Software Engineering</h4>
              <p>
                I can analyze and gather the user requirements and then designing, build, and test software applications
                which will satisfy those requirements.
              </p>
            </div>
            <h3>Software Engineering</h3>
          </div>
        </a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //services -->