<%
  skills = local_assigns.fetch(:skills, Skill.all.order(percentage: :desc))
%>

<!-- skills -->
<div class="stats wthree-sub" id="skills">
  <div class="container">
    <h3 class="w3l-title">&nbsp;My Skills</h3>

    <% skills.each_slice(3) do |skills_slice| %>
      <div class="row">
        <% skills_slice.each do |skill| %>
          <div class="col-sm-4 stats_grid_right">
            <div class="skillbar" data-percent="<%= skill.percentage %>">
              <span class="skillbar-title" style="background: <%= skill.color %>;"><small><%= "#{skill.name.gsub(" ", "&nbsp;")}".html_safe %></small></span>
              <p class="skillbar-bar" style="background: <%= skill.color %>;"></p>
              <span class="skill-bar-percent"></span>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="clearfix"></div>
  </div>
</div>
<!-- //skills -->