<br>
<h1 class="mt-4"><%= t("notes.title") %></h1>

<ol class="breadcrumb mb-4 hidden-print">
  <li class="breadcrumb-item active"><%= t('notes.nav') %></li>
</ol>

<%= render partial: 'contacts/index', locals: {
    return_to: contacts_path,
    notes_scope_meta: @contacts_scope_meta,
    notes: @contacts
} %>

