<%
  return_to ||= local_assigns.fetch(:return_to, request.fullpath)
  references_scope_meta ||= nil
  references ||= nil
%>

<div class="card mb-4">
  <%= render partial: "references/index_toolbar", locals: {
      return_to: return_to,
      references_scope_meta: references_scope_meta,
      search_criteria: :full_name_or_current_job_title_or_linkedin_profile_or_mobile_number_or_action_text_rich_text_body_cont,
      search_url: references_path,
      show_actions: false
  } %>

  <%= render partial: "references/references_table", locals: {
      return_to: return_to,
      references_scope_meta: references_scope_meta,
      references: references
  } %>

  <%= render partial: "references/index_bottombar" %>
</div>